h1{
    font-size: 30px;
}

nav a{
    font-size: medium;
    
    text-decoration: none;
}

nav{
    text-align: center;
    
    width: 30%;
    height:30%;
    
    position: relative;
    margin: auto;
}

section{
    text-align: center;
    width: 80%;
    height: 30%;
    
    margin: auto;
    list-style-position:inside;
    
}
footer{
    
    width: 30%;
    height: 30%;
    
    position:fixed;
    margin:10px auto 0px 10px;
}